.c-foldable {}

/* TODO: Delete */
.c-foldable p {
	margin:0
}

.c-foldable__item {
	background: #c4c4c4;
}

.c-foldable__trigger {
	background: yellow;
	border: 0;
	padding: 0;
	display: block;
	width: 100%;
	text-align: inherit;
}

.c-foldable__panel {
	background: pink;
}

.c-foldable__panel-inner {
	padding: 10px;
}
.c-foldable__panel-inner > * {
	background: deeppink;
}

.c-foldable__item.is-open .c-foldable__panel {}


.c-foldable.is-active .c-foldable__panel {
	overflow: hidden;
	transition: height ease .3s;
}


[data-unfocusable] {
	border: 3px solid lime;
}
