.collapsible__header {
	cursor: pointer;
}

.collapsible__panel {
	background: gold;

	.collapsible--active & {
		transition: height ease .5s;
		overflow: hidden;
	}

	.collapsible--overflow & {
		overflow: visible;
	}
}

.collapsible__container {
	padding: 20px;
	box-sizing: border-box;

	.collapsible--full-width-content & {
		padding: 0;
	}
}
